/* Main Website */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #4E1764;
    text-decoration: none;
}

a:hover {
    color:#7A4190; 
    text-decoration:none; 
    cursor:pointer;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;  
}

body{
    padding-bottom: 10%;
    padding-top: 0;
}

.banner{
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(wimage/back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -100;
    padding: 0;
    margin: 0;
}

.background-video {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  padding: 0;
  margin: 0;
}

@media (max-width: 750px) {
  .background-video { display: none; }
  body {
    background: url("wimage/back.jpg") no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-device-width: 1366px) {
    .banner {
      background-attachment: scroll;
    }
  }
/******************************************************************************************/
/* NAVBAR */

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    overflow: visible;
}

.logo{
    width: 160px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #280137;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navback{
    z-index: 100;
    background-color: rgba(16,0,22,0.7);
    height: 23px;
    width: 100vw;
}

.navbar ul li ul li::after{
    content: '';
    background: transparent;
}

.navbar ul li:hover:after{
    width: 100%;
}

.navbar ul li a{
    text-decoration: none;
    color: floralwhite;
    text-transform: uppercase;
}
/******************************************************************************************/
/* NAV */
nav {
    margin:0 auto;
    width:100%;
    height:auto;
    display:inline-block;
    background: transparent;
    z-index: 10000;
  }
  
  nav ul {
    margin:0;padding:0;
    list-style-type:none;
    float:left;
    display:inline-block;
  }
  
  nav ul li {
    position:relative;
    margin:0 20px 0 0;
    float:left;
    display:inline-block;
  }
  
  li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */
  
  li > a:only-child:after { content: ''; }
  
  nav ul li a {
    padding:20px;
    display:inline-block;
    color:white;
    text-decoration:none;
  }
  
  nav ul li a:hover {
    text-shadow:
    0 0 7px #fff;
  }
  nav ul li ul {
    display:none;
    position:absolute;
    left:0;
    background:transparent;
    float:left;
  }
  
  nav ul li ul li {
    width:100%;
    z-index: 10000;
    background-color: #280137;
  }

  nav ul li ul li a:hover {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
  }
  
  nav ul li:hover ul {
    display:block;
  }
/******************************************************************************************/
/* Grid Images */
.grid {
	display: grid;

grid-template-columns: 2fr 2fr 2fr;

column-gap: 0px;
row-gap: 170px;
}
/******************************************************************************************/
/* mod card */
.card{

    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    z-index: 1;
    overflow: hidden;

}

.youtube{
    background-image: url(simages/youtube.png);
    width: 280px;
    height: 200px;
    transition: 0.7s;
}

.youtube:hover{
  width: 295px;
  height: 215px;
  -moz-box-shadow: 0 0 25px #D7A1F9;
  -webkit-box-shadow: 0 0 25px #D7A1F9;
  box-shadow: 0px 0px 25px #D7A1F9;
}

.twitch{
    background-image: url(simages/twitch1.png);
    width: 400px;
    height: 200px;
    transition: 0.7s;
}

.twitch:hover{
  width: 415px;
  height: 215px;
  -moz-box-shadow: 0 0 25px #D7A1F9;
  -webkit-box-shadow: 0 0 25px #D7A1F9;
  box-shadow: 0px 0px 25px #D7A1F9;
}

.discord{
    background-image: url(simages/discord.png);
    width: 400px;
    height: 200px;
    transition: 0.7s;
}

.discord:hover{
  width: 415px;
  height: 215px;
  -moz-box-shadow: 0 0 25px #D7A1F9;
  -webkit-box-shadow: 0 0 25px #D7A1F9;
  box-shadow: 0px 0px 25px #D7A1F9;
}

.raced{
    background-image: url(simages/rd.png);
    width: 400px;
    height: 200px;
    transition: 0.7s;
}

.raced:hover{
  width: 415px;
  height: 215px;
  -moz-box-shadow: 0 0 25px #D7A1F9;
  -webkit-box-shadow: 0 0 25px #D7A1F9;
  box-shadow: 0px 0px 25px #D7A1F9;
}

.github{
    background-image: url(simages/github.png);
    width: 400px;
    height: 200px;
    transition: 0.7s;
}

.github:hover{
  width: 415px;
  height: 215px;
  -moz-box-shadow: 0 0 25px #D7A1F9;
  -webkit-box-shadow: 0 0 25px #D7A1F9;
  box-shadow: 0px 0px 25px #D7A1F9;
}

.steam{
  background-image: url(simages/steam.png);
  width: 200px;
  height: 200px;
  transition: 0.7s;
}

.steam:hover{
  width: 215px;
  height: 215px;
  -moz-box-shadow: 0 0 25px #D7A1F9;
  -webkit-box-shadow: 0 0 25px #D7A1F9;
  box-shadow: 0px 0px 25px #D7A1F9;
}

.undercon{
    background-image: url(modimages/tbf.png);
    width: 400px;
    height: 200px;
}
/******************************************************************************************/
/* SideBar */
.myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 200px;
    overflow: scroll;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid #280137;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #280137;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #7A4190;  
    }
/******************************************************************************************/
/* Content */
.content{
  width: 100%;
  position: absolute;
  text-align: center;
  color: #a65bc4;
  text-shadow: 0px 0px 25px #fff,
              0px 0px 25px #fff,
              0px 0px 25px #fff,
              0px 0px 25px #fff,
              0px 0px 25px #fff;
  z-index: 10;
}

.modpageheading{
  transform: translateY(-89%);
  font-size: 87px;
  top: 50%;
  margin-top: 75px;
}

.mod{
    transform: translateY(-75%);
    top: 50%;
    margin-top: 10px;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/******************************************************************************************/
/* button */
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #280137;
    background: transparent;
    color: floralwhite;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #280137;
    height: 100%;
    width: 0;                /* <button type="button"><span></span>buttonname</button> */
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
/******************************************************************************************/
/* Dropdown Button */
.dropbtn {
	background-color: transparent;
	color: white;
	padding: 16px;
	font-size: 20px;
	border: none;
    position: relative;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
    font-size: 17px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: green;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #280137;}
  /******************************************************************************************/
  /* Footer/Copyright */
  .copyright {
    color: white;
    text-align: center;
    font-size: 28px;
}
  .copyright::before {
	content: "©  ";
}
.copyright::after {
	content: " JayyKashtaCodes";
}

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4.5%;
    width: 100%;
    background-color: rgba(16,0,22,0.7);
    z-index: 1000;
  }
/******************************************************************************************/
/* Python */
/* py-config - not a component */
py-config {
  display: none
}
/* py-{el} - components not defined */
py-script:not(:defined) {
  display: none
}

py-repl:not(:defined) {
  display: none
}

py-title:not(:defined) {
  display: none
}

py-inputbox:not(:defined) {
  display: none
}

py-button:not(:defined) {
  display: none
}

py-box:not(:defined) {
  display: none
}

.spinner::after {
  content: '';
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(40% - 20px);
  left: calc(50% - 20px);
  border-radius: 50%;
}

.spinner.smooth::after {
  border-top: 4px solid rgba(255, 255, 255, 1);
  border-left: 4px solid rgba(255, 255, 255, 1);
  border-right: 4px solid rgba(255, 255, 255, 0);
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}

.label {
  text-align: center;
  width: 100%;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  margin-top: 6rem;
}

/* Pop-up second layer begin */

.py-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  color: visible;
  opacity: 1;
}

.py-overlay {
  visibility: visible;
  opacity: 1;
}

color: #0f172a;
.py-pop-up {
  text-align: center;
  width: 600px;
}

.py-pop-up p {
  margin: 5px;
}

.py-pop-up a {
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 200%;
  top: 3.5%;
  right: 5%;
}

/* Pop-up second layer end */
.alert-banner {
  position: relative;
  padding: .5rem 1.5rem .5rem .5rem;
  margin: 5px 0;
}

.alert-banner p {
  margin: 0;
}

.py-error{
  background-color: #FFE9E8;
  border: solid;
  border-color: #f0625f;
  color: #9d041c;
}

.py-warning {
  background-color: rgb(255, 244, 229);
  border: solid;
  border-color: #ffa016;
  color: #794700;
}

.alert-banner.py-error>#alert-close-button {
  color: #9d041c;
}

.alert-banner.py-warning>#alert-close-button {
  color: #794700
}

#alert-close-button {
position: absolute;
right: .5rem;
top: .5rem;
cursor: pointer;
background: transparent;
border: none;
}

.py-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.py-box div.py-box-child * {
  max-width: 100%;
}

.py-repl-box {
  flex-direction: column;
}

.py-repl-editor {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  border-width: 1px;
  position: relative;
  --tw-ring-inset: var(--tw-empty,
          /*!*/
          /*!*/
      );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  position: relative;

  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209, 213, 219)
}

.editor-box:hover button {
  opacity: 1;
}

.py-repl-run-button {
  opacity: 0;
  bottom: 0.25rem;
  right: 0.25rem;
  position: absolute;
  padding: 0;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: button;
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border: 0;
}

.py-repl-run-button:hover {
  opacity: 1;
}

.py-title {
  text-transform: uppercase;
  text-align: center;
}

.py-title h1 {
  font-weight: 700;
  font-size: 1.875rem;
}

.py-input {
  padding: 0.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
  border-style: solid;
  width: auto;
}

.py-box input.py-input {
  width: -webkit-fill-available;
}

.central-content {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.py-button {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  padding: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(37, 99, 235, var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.py-li-element p {
  margin: 5px;
}

.py-li-element p {
  display: inline;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.line-through {
  text-decoration: line-through;
}

/* ===== py-terminal plugin ===== */
/* XXX: it would be nice if these rules were stored in e.g. pyterminal.css and
 bundled together at build time (by rollup?) */

.py-terminal {
  min-height: 10em;
  background-color: black;
  color: white;
  padding: 0.5rem;
  overflow: auto;
}

.py-terminal-hidden {
  display: none;
}
/******************************************************************************************/